div{
    position: relative;
    display: block;
}

a{
    color: #e34e47;
}

.layui-form-label{
    float: unset;
    text-align: unset;
    padding-left: 0;
}

.layui-input-block {
    margin-left: 0;
}

.header{
    height:70px;
    background-color: #f9f9f9;
    border-bottom: solid 1px #e9e9e9;
}

.footer{
    margin-bottom: 30px;
    text-align: center;
}

.notification-box-success{
    background-color: #e3ffdc;
    color: black;
    width: 100%;
    border: solid 1px #d9e9b9;
    border-radius: 10px;
}

.notification-box-error{
    background-color: rgba(219, 84, 84, 0.5);
    color: black;
    width: 100%;
    border: solid 1px #c24747;
    border-radius: 10px;
}

.notification-box-title{
    font-size: 17px;
    color: #505050;
}

.notification-box-p{
    text-align: left;
    color: #505050;
    margin-top: 10px;
}

.icon{
    display:table-cell;
    text-align: center;
    vertical-align: middle;
}

.decoration {
    width: 100%;
    border-bottom: solid 1px #cacaca;
    margin: 20px 0;
    display: block;
    clear: both;
}

.custom-btn{
    background-color: #e1e1e1;
    color: black;
    width: 100%;
    border: solid 1px #d0d0d0;
}

.custom-btn:hover{
    color: black;
}