<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport"
          content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no">

    <title>线上报修已暂停</title>
    <meta name="description" content="江南大学团通社电子技术部线上报修"/>

    <link rel="icon" href="../static/images/logo.png" th:href="@{/images/logo.png}" type="image/x-icon"/>
    <link rel="stylesheet" href="../static/layui/css/layui.css" th:href="@{/layui/css/layui.css}"/>
    <script src="../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
</head>

<body class="layui-anim layui-anim-fadein">
<div class="layui-header header">

    <div class="layui-container">
        <div style="float: left; margin-top: 15px">
            <img src="../static/images/logo.png" th:src="@{/images/logo.png}" style="width: 40px" alt="">
        </div>

        <div style="float: right; margin-top: 15px">
            <p style="font-size: 18px; font-weight: bold">江南大学团通社</p>
            <p style="font-size: 13px; line-height: 13px">电子技术部</p>
        </div>
    </div>

</div>

<div class="layui-container">

    <div class="layui-row">

        <div style="margin-top: 15px">
            <div style="margin-top: 20px; text-align: center">
                <p style="font-size: 20px">通 知</p>
            </div>
        </div>

        <div style="margin: 10px auto">
            <p style="text-indent: 2em; line-height: 2em">因考试或假期暂停报修服务，敬请谅解。</p>
            <p style="text-indent: 2em; line-height: 2em">报修系统将于考试结束或开学后重新开启。</p>
            <p style="text-indent: 2em; line-height: 2em">你也可以先加入我们的线上交流群，我们的同学们有时间了会尽快帮你解决问题。</p>
            <p style="line-height: 2em">
                线上交流QQ群：459121889。 <a
                    href="https://jq.qq.com/?_wv=1027&amp;k=5TEC910"
                    style="float: right; margin-right: 10px">点此直接加群</a>
            </p>
        </div>

        <div class="decoration"></div>

    </div>

</div>

<div class="layui-footer footer" style="margin-top: 30px">
    <p>
        Copyright &copy; 2017-2020
    </p>
    <p>江南大学团通社电子技术部</p>
</div>

</body>
</html>
